<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= error.status %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <p><%= message %></p>
        <p><%= error.status %></p>
        <pre><%= error.stack %></pre>
    </body>
</html>
