<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="app">
      <h5><%= title %></h5>

      <form action="javascript:void(0);" class="js-product-form">
        <div class="row">
          <div class="six columns">
            <label for="product-name">Product:</label>
            <input class="u-full-width" type="text" id="product-name" name="name" value="" maxlength="100">
          </div>
          <div class="two columns">
            <label for="product-price">Price:</label>
            <input class="u-full-width" type="text" id="product-price" name="price" value="" maxlength="12">
          </div>
          <div class="two columns">
            <label for="product-currency">Currency</label>
            <select class="u-full-width" id="product-currency" name="currency">
              <% currencies.forEach((curr) => { %>
                <option value="<%= curr %>"><%= curr %></option>
              <% }) %>
            </select>
          </div>
          <div class="two columns">
            <label for="product-quantity">Quantity:</label>
            <input class="u-full-width" type="text" id="product-quantity" name="quantity" value="" maxlength="4">
          </div>
        </div>
        <input class="button-primary" type="submit" value="Add">
      </form>

      <div class="cart js-cart">
        <a href="javascript:void(0);" class="cart-clean js-cart-clean">clean</a>
        <h5>Cart</h5>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th class="remove-col"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <td>Total:</td>
              <td></td>
              <td></td>
              <td class="js-cart-total"></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="js/vendor/jquery.mininoty.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
