@mixin transform($arguments...) {
    -webkit-transform:$arguments;
    -moz-transform:$arguments;
    -o-transform:$arguments;
    -ms-transform:$arguments;
    transform:$arguments;
}
@mixin scale($x:1, $y:1) {
    @include transform(scale($x, $y));
}
@mixin transition($arguments...) {
    -webkit-transition:$arguments;
    -moz-transition:$arguments;
    -o-transition:$arguments;
    transition:$arguments;
}
@mixin box-sizing($sizing:border-box) {
    -ms-box-sizing:$sizing;
    -moz-box-sizing:$sizing;
    -webkit-box-sizing:$sizing;
    box-sizing:$sizing;
}

$anim-global: .5s;

$className: '.miniNoty';

#{$className}{
    position:fixed;
    right:0; bottom:0;
    max-width:50%;
    min-width:150px;
    z-index:101;
    @include transition(all $anim-global);

    &_message{
        position:relative;
        right:10px;
        opacity:0;
        color:#fff;
        cursor:pointer;
        float:right;
        clear:both;
        padding:0 10px;
        margin:0;
        max-height:0;
        border-radius:5px;
        overflow:hidden;
        @include box-sizing;
        @include scale(1, 0);
        @include transition(all $anim-global);
    }

    &_message-show{
        margin:0 0 10px;
        padding:7px 10px;
        max-height:500px;
        opacity:1;
        @include scale(1, 1);
    }

    &_message-remove{
        padding:0;
        margin:0;
        overflow:hidden;
    }

    &_message-success{
        background:mediumseagreen;
        box-shadow:0 2px 5px mediumseagreen;
    }

    &_message-error{
        background:indianred;
        box-shadow:0 2px 5px indianred;
    }

    &_message-normal{
        background:#fafafa;
        box-shadow:0 2px 5px lightgrey;
        color:#000;

        #{$className}_btn{
            color:#000;
        }
    }

    &_message-warning{
        background:goldenrod;
        box-shadow:0 2px 5px goldenrod
    }

    &_btn{
        display:inline-block;
        padding:5px 7px;
        border-radius:4px;
        color:#fff;
        margin:5px 5px 0 0;
        text-decoration:none;
        border:1px solid #eee;
        background:rgba(255, 255, 255, .3);

        &:hover{
            background:rgba(255, 255, 255, .5);
        }
    }
}

@media screen and (max-width:480px){
    #{$className}{
        max-width:100%;
        width:100%;

        &_message{
            margin:0 0 5px;
            border-radius:0;
            text-align:center;
            padding:5px;
            right:0;
            float:none;

            &:last-child{
                margin:0;
            }

            &-show{
                bottom:5px;
            }
        }
    }
}
