@import "normalize";
@import "skeleton";
@import "notify";
@import "main";

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.app {
  min-width: 650px;
  max-width: 1000px;
}

.cart-clean {
  float: right;
  position: relative;
  top: 30px;
}

form .error {
  border: 1px solid #c33;
  background: #fff6f6;
}

.cart {
  display: none;

  table {
    th,
    td {
      vertical-align: top;
      text-align: right;
      white-space: nowrap;

      &:first-child {
        white-space: normal;
        text-align: left;
        width: 100%;
      }
    }

    tfoot {
      th,
      td {
        line-height: 1.5em;
        font-weight: bold;
      }
    }
  }

  .remove-col {
    width: 1px;
    padding-left: 10px;
    padding-right: 10px;

    .cart-item-remove {
      position: relative;
      display: block;
      overflow: hidden;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #c33;
      cursor: pointer;
      opacity: .99;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
        margin: auto;
        display: block;
        width: 12px;
        height: 2px;
        background: #fff;
      }

      &:hover {
        opacity: .75;
      }

      &:before {
        transform: rotate(135deg);
      }
    }
  }
}
